html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-flow: column;
}

:root {
    --couleur-equipe: green;
    --couleur-adv: blue;
    --couleur-fond: rgb(17 24 39);
    --couleur-bordure: white;
}

header {
    height: 100%;
    flex: 0 1 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid var(--couleur-bordure);
}

.tab-select {
    height: 100%;
    background-color: white;
    border-right: 1px solid black;
}

.tab-select[data-active="active"] {
    background-color: #737373;
}

main {
    flex: 1 1 auto;
    position: relative;
}

.tab {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--couleur-fond);
}

.tab[data-active="inactive"] {
    display: none;
}

h1 {
    margin: 0;
    padding: 0;
}

.synthese-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#plateau {
    position: relative;
    margin: 1rem;
    margin-left: 4rem;
    width: 50vw;
    aspect-ratio: 3/2;
    border: 2px solid var(--couleur-bordure);
}

.robot {
    box-sizing: border-box;
    position: absolute;
    height: 5vw;
    width: 5vw;
    background-color: var(--couleur-equipe);
    color: white;
    text-align: center;
    padding: 1.2vw;
    font-size: 1.5vw;
}

.robot::after {
    display: block;
    position: absolute;
    left: 80%;
    top: 45%;
    content: "";
    width: 40%;
    height: 10%;
    background-color: red;
}

.adv {
    background-color: var(--couleur-adv);
}

.depart {
    position: absolute;
    height: 5vw;
    width: 5vw;
    opacity: 50%;
}

.depart:nth-child(even) {
    background-color: var(--couleur-adv);
}

.depart:nth-child(odd) {
    background-color: var(--couleur-equipe);
}

.element {
    position: absolute;
    height: 6%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.jaune {
    background-color: yellow;
}

.marron {
    background-color: brown;
}

.rose {
    background-color: pink;
}

#container-synthese-info {
    width: 30vw;
    height: 33vw;
    border: 2px solid var(--couleur-bordure);
    border-radius: 0.5rem;
    margin-right: 4rem;
    display: flex;
    flex-flow: column;
}

.infos {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid var(--couleur-bordure);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.positions, .strat {
    width: 50%;
    height: 100%;
    display: flex;
    border-right: 1px solid var(--couleur-bordure);
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#container-synthese-info p {
    position: relative;
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
}

#container-synthese-info p[data-active="active"]::before {
    background-color: lime;
}

.strat > p::before {
    position: absolute;
    top: 0.5vw;
    left: -2vw;
    content: "";
    width: 1.5vw;
    aspect-ratio: 1/1;
    border: 1px solid var(--couleur-bordure);
    border-radius: 50%;
    background-color: none;
}

.ligne-commande {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 50%;
}

#commande {
    border: 1px solid var(--couleur-bordure);
    height: 5vh;
    width: 20vw;
    padding-left: 10px;
}

#conf-commande {
    background-color: lightgray;
    height: 5vh;
    width: 5vw;
    border: 1px solid var(--couleur-bordure);
    border-radius: 5px;
}
